@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
body {
    background:  #161212;
}
* {
    box-sizing: border-box;
}
h1 {
    font-family: 'Julius Sans One', sans-serif;
}