@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
body {
    background:  #161212;
}
* {
    box-sizing: border-box;
}
h1 {
    font-family: 'Julius Sans One', sans-serif;
}
.hover {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border: none;
    background-size: 300% 100%;
    border-radius: 5px;

    transition: all .4s ease-in-out;
}

.hover:hover {
    background-image: linear-gradient( 90deg, #161212  0%, black 10%, #161212 80%);

    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


body::-webkit-scrollbar {
    width: 1px;               
}
  
body::-webkit-scrollbar-track {
    background: black;       
}
  
body::-webkit-scrollbar-thumb {
    border-radius: 50px;       
    border: 3px solid rgb(128, 5, 0); 
}